.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  .slider {
    -webkit-appearance: none;
    width: 60%;
    height: 15px;
    border-radius: 5px;  
    background: #d1d1d1;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 34px;
    height: 34px;
    border-radius: 50%; 
    background: #0059fd;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #0059fd;
    cursor: pointer;
  }

